.gradient-custom-2 {
    /* fallback for old browsers */
    background: #333;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #b3b1b1, #969595, #565656, #333);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #31353D, #5f5e5e, #323232, #050505);
    }

    form{
        text-align: center;
    }
    .form-control{
        text-align: center;
    }
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }

    body{
        background-color: rgb(47, 46, 46) ;
    }

    .col-lg-6{
        background-color: rgb(154, 153, 153);
    }

    a{
        color: green;
    }